# SPDX-FileCopyrightText: 2021-2024 Infineon Technologies AG
# SPDX-License-Identifier: MIT
pyserial==3.5
asn1crypto==1.5.1
jinja2==3.1.6
click==8.1.8
# Do not pin the cryptography version to keep compatibility with Raspberry Pi armv7l which only supports v.38.0.4 via
# apt package python3-cryptography
cryptography>=38.0.4